# Stripe
GMBPRO_STRIPE_SECRET_KEY=sk_test_xxx
GMBPRO_STRIPE_WEBHOOK_SECRET=whsec_xxx

# Prix en centimes
GMBPRO_STRIPE_STARTER_PRICE=2900
GMBPRO_STRIPE_PRO_PRICE=3900
GMBPRO_STRIPE_PREMIUM_PRICE=5900
